@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #f5f5f5;
  color: #171717;
  /*  Roboto */
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
